@font-face {
    font-family: "Bazar";
    src: url('../fonts/bazar.ttf');
   }
@font-face {
    font-family: "SeasideResortNF";
    src: url('../fonts/SeasideResortNF.ttf');
   }

@font-face {
    font-family: "Oswald";
    src: url('../fonts/Oswald-Regular.ttf');
   }
 
@font-face {
    font-family: "RobotoSlab";
    src: url('../fonts/RobotoSlab-Regular.ttf');
   }

*{
    transition: color 1s;
    transition: background-color 1s;
}

$bcground-header: #7ac0c0;
$bcground-about: #e5e0d0;
$bcground-portfolio: #de8564;
$bcground-blog: #e1dedb;
$bcground-contacts: #4c5057;
$text-color1: #393a3a;
$text-color2: #f6edd8;

@mixin top-deshes(){
    content: "";
    width: 100%;
    position: absolute;
    top: 14px;
    border-top: 1px dashed #00000021;
    border-bottom: 1px dashed #00000031;
}

@mixin bottom-deshes(){
    content: "";
    width: 100%;
    position: absolute;
    bottom: 14px;
    border-top: 1px dashed #00000021;
    border-bottom: 1px dashed #00000031;
}

@mixin separator(){
    font-family: RobotoSlab;
    font-weight: bold;
    font-size: 12px;
    width: fit-content;
    margin: auto;
    position: relative;
    margin-top: 15px;
    &:before{
        content: "";
        width: 48px;
        height: 2px;
        background-color: $text-color1;
        position: absolute;
        top: 6px;
        left: -60px;
    }
    &:after{
        content: "";
        width: 48px;
        height: 2px;
        background-color: $text-color1;
        position: absolute;
        top: 6px;
        right: -60px;
    }
}

@mixin bottom-separator() {
    width: 48px;
    height: 2px;
    background: $text-color1;
    margin: auto;
    margin-top: 41px;    
}

@mixin bottom-text(){
    font-family: Oswald;
    font-size: 16px;
    text-align: center;
    color: $text-color1;
    margin-top: 10px;
    text-transform: uppercase;
}

html{
    scroll-behavior: smooth;
}

.conteiner{
    height: inherit;
    width: 1140px;
    margin: 0px auto;
    position: relative;
    display: block;
}
.header-section{
    width: 100%;
    min-width: fit-content;
    height: 155px;
    background-color: $bcground-header;
    position: fixed;
    top: 0px;
    z-index: 10;
    ul{
        width: 100%;
        height: 100%;
        display: flex;
        margin: auto;
        justify-content: space-around;
        align-items: center;
        li{
            display: inline;
            list-style-type: none;
            font-size: 32px;
            font-family: Bazar;
            text-transform: uppercase;
            width: max-content;
            padding: 20px;
            border-radius: 20px;
            transition: 0.5s;
            &:hover{
                background: #4e5052;
            }
            a{
                text-decoration: none;
                color: #fbfaf6;
            }
            &:nth-child(3) {
                height: 100%;
                width: 135px;
                background: url(../images/logo.png);
                background-position: 0px;
                background-size: contain;
                background-repeat: no-repeat;
                font-family: SeasideResortNF;
                font-size: 80px;
                color: #fbfaf6;
                text-align: center;
                display: flex;
                padding: 0;
                div{
                    margin: auto;
                }
              } 
              &:last-child{
                padding: 7px 4px;
              }
        } 
    }  
    &:after{
        @include bottom-deshes();
    } 
}

.progress-bar{
    position: absolute;
    width: 100%;
    height: 10px;
    bottom: 0px;
}
.progress-bar__indicator{
    height: 100%;
    background-color: $text-color1;
}

.slider-section{
    min-width: fit-content;
    background-color: $bcground-header;
    position: relative;
    padding-bottom: 68px;
    margin-top: 155px;
    &:before{
        @include top-deshes();
    } 
    &:after{
        @include bottom-deshes();
    } 
}

.slider-section > .conteiner{
    padding-top: 34px;
}

.slider-section__header{
    color: $text-color2;
    font-family: SeasideResortNF;
    font-size: 114px;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
}

.slider-section__ribbon{
    height: 71px;
    background: url("../images/ribbon.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    color: $text-color1;
    font-family: Bazar;
    font-size: 26px;
    text-align: center;
    width: 100%;
    margin-top: 45px;
    text-transform: uppercase;
    p{
        padding-top: 16px;
    }
}

.slider-section__slider{
    width: 80%;
    height: 545px;
    background-color: #fbfaf6;
    margin: auto;
    margin-top: 60px;
    border-radius: 5px;
    padding-top: 13px;
}

.slider__placeholder{
    margin: 0 13px;
    height: 476px;
    background-color: #e3dfd7;
    display: flex;
    position: relative;
}

.placeholder__prev{
    width: 35px;
    height: 70px;
    border-radius: 0px 35px 35px 0px;
    background-color: #fbfaf6;
    position: absolute;
    top: 203px;
    left: 0px;
    cursor: pointer;
    &:before{
        content: "";
        width: 13px;
        height: 13px;
        border-top: 4px solid #828c8e;
        border-left: 4px solid #828c8e;
        transform: rotate(-45deg);
        top: 25px;
        left: 3px;
        position: absolute;
        transition: 0.5s;
    }
    &:hover{
        &:before{
            border-top: 4px solid #383d3e;
            border-left: 4px solid #383d3e;
        }
    }
}

.placeholder__next{
    width: 35px;
    height: 70px;
    border-radius: 35px 0px 0px 35px;
    background-color: #fbfaf6;
    position: absolute;
    top: 203px;
    right: 0px;
    cursor: pointer;
    &:before{
        content: "";
        width: 13px;
        height: 13px;
        border-top: 4px solid #828c8e;
        border-right: 4px solid #828c8e;
        transform: rotate(45deg);
        top: 25px;
        right: 3px;
        position: absolute;
        transition: 0.5s;
    }
    &:hover{
        &:before{
            border-top: 4px solid #383d3e;
            border-right: 4px solid #383d3e;
        }
    }
}

.placeholder__prev__image{
    height: 100%;
    width: 100%;
}

.slider__heafer{
    color: $text-color1;
    text-align: center;
    font-family: Bazar;
    font-size: 26px;
    text-transform: uppercase;
    margin-top: 18px;
}

.slider__greetings{
    color: $text-color2;
    text-align: center;
    font-family: Bazar;
    font-size: 38px;
    text-transform: uppercase;
    margin-top: 38px;
    height: 94px;
    span{
        font-size: 32px;
        line-height: 72px;
    }
}

h1{
    font-family: Bazar;
    font-size: 104px;
    text-shadow: 2px 2px 0px #b0b0b0, 4px 4px 0px black;
    text-transform: uppercase;
    text-align: center;
    color: $text-color1;
    margin-top: -155px;
    padding-top: 155px;
}

.about-section{
    min-width: fit-content;
    background-color: $bcground-about;
    position: relative;
    padding-bottom: 50px;
    &:before{
        @include top-deshes();
    } 
    &:after{
        @include bottom-deshes();
    } 
}

.about-section__head{
    display: block;
    width: 100%;
    color: $text-color1;
    text-align: center;
    text-transform: uppercase;
    padding-top: 60px;
    width: 100%;
}

.about-section__separator{
    @include separator();
}

.about-section__discription{
    font-family: Oswald;
    font-size: 16px;
    margin-top: 16px;
}

.about-section__flex{
    display: flex;
    width: 100%;
    margin-top: 48px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.about-section__col{
    width: 20%;
    min-width: 200px;
    margin: 0 20px;
    margin-bottom: 40px;
}

.col__icon{
    position: relative;
    display: inline-block;
    width: 60%;
    height: 0;
    padding: 30% 0px;
    border-radius: 50%;
    background-color: #d45244;
    margin-left: 20%;
    
    &:before{
        content: "";
        position: absolute;
        width: 94%;
        height: 94%;
        background: #f5eee3;
        top: 3%;
        left: 3%;
        border-radius: 50%;
    }
    &:after{
        content: "";
        position: absolute;
        width: 88%;
        height: 88%;
        background-color: #d45244;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 60%;
        top: 6%;
        left: 6%;
        border-radius: 50%;
    }
}

.about-section__col:nth-child(1)>.col__icon:after{
    background-image: url("../images/tv.png");
}

.about-section__col:nth-child(2)>.col__icon:after{
    background-image: url("../images/vinyl.png");
}

.about-section__col:nth-child(3)>.col__icon:after{
    background-image: url("../images/tshirt.png");
}

.about-section__col:nth-child(4)>.col__icon:after{
    background-image: url("../images/food.png");
}

.col__headern{
    width: 100%;
    color: $text-color1;
    text-align: center;
    font-family: Bazar;
    font-size: 32px;
    text-transform: uppercase;
    margin-top: 28px;
}

.col__subheader{
    width: 100%;
    color: $text-color1;
    text-align: center;
    font-family: RobotoSlab;
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 24px;
}

.col__separator{
    margin: auto;
    width: 48px;
    height: 2px;
    background-color: $text-color1;
    margin-top: 21px;
}

.col__discription{
    width: 100%;
    color: $text-color1;
    text-align: left;
    font-family: RobotoSlab;
    font-size: 12px;
    margin-top: 20px;
    line-height: 24px;
}

.portfolio-section{
    min-width: fit-content;
    background-color: $bcground-portfolio;
    position: relative;
    padding-bottom: 68px;
    z-index: 2;
    &:before{
        @include top-deshes();
    } 
    &:after{
        @include bottom-deshes();
    } 
}

.portfolio-section__head{
    display: block;
    width: 100%;
    color: $text-color1;
    text-align: center;
    text-transform: uppercase;
    padding-top: 60px;
    width: 100%;
    padding-top: 64px;
}

.portfolio-section__separator{
    @include separator();
}

.portfolio-section__discription{
    font-family: Oswald;
    font-size: 16px;
    margin-top: 16px;
}

.portfolio__filters{
    margin-top: 52px;
    color: $text-color1;
    display: flex;
    font-family: RobotoSlab;
    span{
        font-size: 16px;
        white-space: nowrap;
    }
    ul{
        display: flex;
        margin-left: 14px;
        flex-wrap: wrap;
    }
    li{
        margin: 0 10px;
        text-transform: lowercase;
        list-style-type: none;
        padding-right: 10px;
        position: relative;
        border-radius: 2px;
        clip-path: polygon(0% 50%, 10px 0%, 100% 0%, 100% 100%, 10px 100%, 0% 50%);
        padding-left: 30px;
        height: 20px;
        font-size: 12px;
        margin-bottom: 10px;
        &:before{
            content: "";
            position: absolute;
            width: 5px;
            height: 5px;
            background-color: $text-color1;
            border-radius: 2px;
            left: 12px;
            top: 40%;
            z-index: 1;
        }
    }
}

.portfolio__filters_highlighted_false{
    background-color: #fbfaf6;
}

.portfolio__filters_highlighted_true{
        background-color: $bcground-header;
}

.portfolio__items-section{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.portfolio__items-section > .item{
    width: 23%;
    min-width: 250px;
    height: 244px;
    background: #fbfaf6;
    margin: 0 10px;
    margin-top: 21px;
    border-radius: 5px;
    position: relative;
    font-family: RobotoSlab;
    padding-bottom: 20px;
    box-shadow: 3px 3px 3px #58585858;
}

.item__main{
    height: 78%;
    margin: 5px;
    background: #e3dfd7;
    overflow: hidden;
}

.item__main img{
	width: 100%;
    height: 100%;
}

.item__ico{
    width: 20%;
    height: 0;
    padding: 10% 0;
    border-radius: 50%;
    background-color: #fbfaf6;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    margin: auto;
    position: absolute;
    left: 40%;
    bottom: 12%;
}

.item:nth-child(1) .item__ico{
    background-image: url("..//images/icon_2.png");
}
.item:nth-child(2) .item__ico{
    background-image: url("..//images/icon_1.png");
}
.item:nth-child(3) .item__ico{
    background-image: url("..//images/icon_4.png");
}
.item:nth-child(4) .item__ico{
    background-image: url("..//images/icon_3.png");
}
.item:nth-child(5) .item__ico{
    background-image: url("..//images/icon_4.png");
}
.item:nth-child(6) .item__ico{
    background-image: url("..//images/icon_3.png");
}
.item:nth-child(7) .item__ico{
    background-image: url("..//images/icon_1.png");
}
.item:nth-child(8) .item__ico{
    background-image: url("..//images/icon_2.png");
}

.item__header{
    margin-top: 38px;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
}

.portfolio__separator{
    @include bottom-separator();
}

.portfolio__browse-all, .portfolio__hide-all{
    @include bottom-text();
    cursor: pointer;
}

.blog-section{
    min-width: fit-content;
    background-color: $bcground-blog;
    position: relative;
    padding-bottom: 68px;
    z-index: 1;
    &:before{
        @include top-deshes();
    } 
    &:after{
        @include bottom-deshes();
    } 
}

.blog-section__head{
    width: 100%;
    color: $text-color1;
    text-align: center;
    text-transform: uppercase;
    padding-top: 64px;
    width: 100%;
}

.blog-section__separator{
    @include separator();
}

.blog-section__discription{
    font-family: Oswald;
    font-size: 16px;
    margin-top: 16px;
}

.blog-section__main{
    width: 100%;
    height: 906px;
    display: block;
    margin-top: 46px;
    overflow: hidden;
}

.blog-section__item{
    display: flex;
    justify-content: space-between;
    height: 264px;
    width: 100%;
    margin-bottom: 38px;
    opacity: 0;
    transition: 1s;
}

.element-show {
    opacity: 1;
    transition: opacity 2s;
  }

.item__image{
    height: 100%;
    width: 344px;
    border: 4px solid #fbfaf6;
    border-radius: 2px;
    box-shadow: 3px 3px 3px #58585858;
    overflow: hidden;
}

.item__image img{
    height: 100%;
    margin-right: 20px;
}

.item__content{
    height: 100%;
    width: 60%;
}

.content__header{
    font-family: RobotoSlab;
    font-size: 24px;
    text-transform: capitalize;
    font-weight: bold;
    margin-top: 10px;
}

.content__date-block{
    display: flex;
    justify-content: space-between;
    font-family: Oswald;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 16px;
}

.date-block__date{
    position: relative;
    &:after{
        content: "";
        width: 48px;
        height: 2px;
        position: absolute;
        left: 0px;
        bottom: -18px;
        background-color: $text-color1;
    }
}

.date-block__response{
    width: fit-content;
}

.content__text{
    font-family: RobotoSlab;
    font-size: 14px;
    margin-top: 32px;
    line-height: 28px;
}

.blog__separator{
    @include bottom-separator(); 
}

.blog__show-all{
    @include bottom-text();
    cursor: pointer;
}

.information-section{
    min-width: fit-content;
    background-color: $bcground-about;
    position: relative;
    padding-bottom: 68px;
    z-index: 2;
    &:before{
        @include top-deshes();
    } 
    &:after{
        @include bottom-deshes();
    } 
}
.information-section h1{
    display: block;
    width: 100%;
    color: $text-color1;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    padding-top: 68px;
    width: 100%;
}

.weather-block{
    width: 500px;
    min-height: 300px;
    border: 2px solid $text-color2;
    border-radius: 50px;
    background-color: black;
    margin: auto;
    margin-top: 60px;
    box-shadow: 5px 5px 10px black;
    text-align: center;
    color: #f6edd8;
    font-family: 'RobotoSlab';
    font-size: 20px;
}

.weather-block_city{
    margin-top: 15px;
}

.weather-info{
    text-align: left;
    margin-top: 25px;
    line-height: 50px;
    display: flex;
}

.weather-info_left, .weather-info_right{
    margin-left: 25px;
    position: relative;
    width: 50%;
}

.weather-info__icon{
    position: absolute;
    top: -35px;
    right: 0px;
    width: 100px;
    height: 100px;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.weather-info__wind-dir{
    position: absolute;
    bottom: 35px;
    right: 40px;
    width: 15px;
    height: 30px;
    background-color: $text-color2;
    clip-path: polygon(0% 100%, 50% 0%, 100% 100%, 50% 75%, 0 100%);
    display: none;
}

.contacts-section{
    min-width: fit-content;
    background-color: $bcground-contacts;
    position: relative;
    padding-bottom: 86px;
    &:before{
        @include top-deshes();
    } 
    &:after{
        @include bottom-deshes();
    } 
}

.contacts-section h1{
    color: $text-color2;
    text-shadow: 2px 2px 0px black, 4px 4px 0px #b0b0b0;
}

.contacts-section__head{
    display: block;
    width: 100%;
    color: $text-color2;
    text-align: center;
    text-transform: uppercase;
    padding-top: 64px;
    width: 100%;
}

.contacts-section__separator{
    @include separator();
    &:before{
        background-color: $text-color2;
    }
    &:after{
        background-color: $text-color2;
    }
}

.contacts-section__discription{
    font-family: Oswald;
    font-size: 16px;
    margin-top: 16px;
}

.contacts__form{
    width: 55%;
    display: block;
    margin: auto;
    margin-top: 46px;
    font-size: 18px;
    color: $text-color1;
    
}

.contacts__form > input, textarea{
    width: 100%;
    height: 45px;
    margin-bottom: 13px;
    padding: 0 16px;
    font-family: RobotoSlab;
    border: none;
    border-radius: 5px;
}

textarea{
    height: 163px;
    padding: 16px 16px;
}

.contacts__form > input:last-child{
    width: 168px;
}

#nameDiv, #mailDiv,#subjectDiv,#messageDiv{
    color: red;
    font-size: 12px;
    font-family: RobotoSlab;
}

.social-header{
    color:$text-color2;
    font-family: Bazar;
    font-size: 30px;
    text-transform: uppercase;
    margin: auto;
    margin-top: 48px;
    position: relative;
    width: fit-content;
    &:after{
        content: "";
        width: 50px;
        height: 2px;
        background-color: $text-color2;
        position: absolute;
        bottom: -12px;
        left: 32%;
    }
}

.social-link{
    display: flex;
    width: 55%;
    height: 96px;
    justify-content: space-between;
    margin: auto;
    margin-top: 32px;
    a{
        width: 96px;
        height: 96px;
        border-radius: 50%;
        background-color: $text-color2;
    }
}

.social-link div{
    width: 96px;
    height: 96px;
    border-radius: 50%;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    filter: grayscale(1);
    transition: 0.3s;
    &:hover{
        filter: grayscale(0);
        transition: 0.3s;
    }
    &:before{
        content: "";
        width: 90%;
        height: 90%;
        border: 2px solid #393a3a;
        border-radius: 50%;
        position: absolute;
        left: 3%;
        top: 3%;
    }
}

.social-link a:nth-child(1) div{
    background-image: url(../images/tw_ico.png);
}

.social-link a:nth-child(2) div{
    background-image: url(../images/fb_ico.png);
}

.social-link a:nth-child(3) div{
    background-image: url(../images/inst_ico.png);
}

.social-link a:nth-child(4) div{
    background-image: url(../images/tlg_ico.png);
}

@media (max-width: 1140px){
    .conteiner{
        width: auto;
    }
}

@media (max-width: 920px){
    h1{
        font-size: 82px;
    }
    .header-section ul li{
        font-size: 24px;
        padding: 20px;
        border-radius: 20px;
        &:nth-child(3) {
            height: 100%;
            width: 110px;
            font-size: 60px;
        } 
            &:last-child{
                padding: 7px 4px;
            }
    }
    .blog-section .item__image{
        width: 285px;
        height: 230px;
    }
}

@media (max-width: 760px){
    .header-section{
        height: 10px;
        .conteiner{
            display: none;
        }
    }
    .slider-section__slider{
        width: 100%;
    }
    .slider-section{
        margin-top: 10px;
    }
    .blog-section .item__image{
        width: 240px;
        height: 200px;
    }
    .social-link{
        width: 100%;
        justify-content: space-around;
    }
    .contacts__form {
        width: 80%;
    }
    .contacts__form > input:last-child{
        width: 100%;
    }
}

@media (max-width: 540px){
    h1{
        font-size: 62px;
    }
    .weather-block{
        width: 450px;
        font-size: 16px;
    }
    .blog-section .item__image{
        width: 180px;
        height: 140px;
    }
}